In [17]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("bank.csv")

In [19]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59.0,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56.0,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41.0,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55.0,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54.0,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [20]:
df.isna().sum()

age          12
job           0
marital       0
education     0
default       0
balance       0
housing       0
loan          0
contact       0
day           0
month         0
duration      0
campaign      0
pdays         0
previous      0
poutcome      0
deposit       0
dtype: int64

# 1. Data clean NA values

In [21]:
age_mean = df.age.mean()
print("Mean of age column: ",age_mean)

Mean of age column:  41.23587443946188

In [22]:
df.age.fillna(age_mean,inplace=True)
df.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

# 2. Datatype conversion

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
cols = df.columns
types = df.dtypes

In [25]:
encoder = LabelEncoder()

for i in range(len(cols)):
    if types[i] == "object":
        df[cols[i]] = encoder.fit_transform(df[cols[i]])

In [26]:
df.dtypes

age          float64
job            int32
marital        int32
education      int32
default        int32
balance        int64
housing        int32
loan           int32
contact        int32
day            int64
month          int32
duration       int64
campaign       int64
pdays          int64
previous       int64
poutcome       int32
deposit        int32
dtype: object

# 3. Data scaling

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [29]:
scaler = MinMaxScaler()

df = scaler.fit_transform(df)

In [31]:
df = pd.DataFrame(df,columns=cols)
df.sample(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
7472,0.402597,0.363636,0.0,0.666667,0.0,0.183678,1.0,0.0,1.0,0.066667,0.545455,0.042279,0.000000,0.000000,0.000000,1.000000,0.0
8375,0.272727,0.909091,1.0,0.333333,0.0,0.107801,1.0,0.0,1.0,0.666667,0.727273,0.086878,0.032258,0.000000,0.000000,1.000000,0.0
3620,0.623377,0.272727,0.5,0.000000,0.0,0.091731,0.0,0.0,0.0,0.500000,0.545455,0.073730,0.080645,0.212865,0.051724,0.666667,1.0
3116,0.805195,0.454545,0.5,0.000000,0.0,0.089085,0.0,0.0,0.0,0.900000,0.363636,0.038412,0.000000,0.107602,0.051724,0.666667,1.0
5535,0.155844,0.727273,0.5,0.666667,0.0,0.081441,0.0,0.0,0.0,0.800000,0.090909,0.150296,0.048387,0.000000,0.000000,1.000000,0.0